@{
    ViewData["Title"] = "Agregar Candidato";
}
 <form action='@Url.Action("GuardarCandidato")' method="post">
    
    <input type="hidden" name="FK_Partido" value="@ViewBag.partidito.Id_Partido">
    Id Candidato <input type="text" class="form-control" name="Id_Candidato" required>
    Apellido <input type="text" class="form-control" name="Apellido" required>
    Nombre <input type="text" class="form-control" name="Nombre" required>
    FechaNacimiento <input type="DateTime-local" class="form-control" name="FechaNacimiento" required>
    Foto (utiliza un URL para que se guarde adecuadamente) <input type="text" class="form-control" name="Foto" required>
    Postulacion <input type="text" class="form-control" name="Postulacion" required>
    <button type="submit" class="btn btn-primary">Ingresar</button>
 </form>