@{
    ViewData["Title"] = "Home Page";
}
 <section class="elecciones">
    <div class="partidos">
        <a><img src="/Img/Frente-de-Todos.png" alt="Frente de Todos"></a>
        <h4> Frente de Todos </h4></a>
        <a href='@Url.Action("VerDetallePartido", new{idPartido=ViewBag.Partido[i].idPartido}) '><button>Ver Detalles Del Partido</button></a>
    </div>


 </section>

