@{
    ViewData["Title"] = "Creditos";
}
<br><br><br><br><h1 style="text-align: center;" class=""><b>CRÉDITOS</b></font></h1> <br>
<p style="text-align: center;"><img src="/Img/imagen_creditos.jpg" class="img-fluid" 
style="border: 2px solid black" width="1000px"></p>
<pre style="color:#black; font-size:24px">Nosotras somos Cami y Yae
Programadoras desde el día que nacimos, especialistas en diseño y risas
</pre>

